body {
    text-align: center;
}

#board {
    background-color: black;
    border-top: 5px solid skyblue;
    border-bottom: 5px solid skyblue;
}

#text {
    font-family: Arial, Helvetica, sans-serif;
}

#cre {
    font-size: 22px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: absolute;
    top: 695px;
    right: 555px;
}